@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');

.it {
  height: 5vh;
}

// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

html, body {
  //overflow: hidden !important;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 160vh !important;
  width: 100vw !important;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%) !important;
  overflow: hidden !important;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation			: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation			: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

.title {
  margin-top: 10vh;
  word-wrap: break-word;

  color: #FFF;
  text-align: center;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  font-size: 45px;
  letter-spacing: 10px;

  padding-left: 10px;

  span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    small {
      font-size: 30px;
      font-weight: 150;
    }
  }
}

.timer {
  font-size: 20px;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.section-header {
  margin-top: 15vh;
  color: white;
  font-family: 'Saira', sans-serif;
  text-align: center;
}


.media {
  margin-top: 200px;
  color: white;
  font-family: 'Saira', sans-serif;
  text-align: center;
}

// timeline

/* Timeline container */
.timeline {
  position: relative;
  margin: 5vh 15vw;
  padding: 0;
  list-style: none;
  font-family: 'Saira', sans-serif;
}

/* Timeline item */
.timeline li {
  position: relative;
  width: 70vw;
  border-radius: 5px;
  color: white;
  margin-bottom: 50px;
}

/* Timeline item content */
.timeline li .timeline-content {
  position: relative;
}

/* Date */
.timeline li .timeline-date {
  display: block;
  font-size: 0.8rem;
  font-weight: lighter;
  margin-bottom: 10px;
  color: #ddd;
  margin-left: 50px;
  padding-top: 5px;
}

/* Icon */
.timeline li .timeline-icon {
  position: absolute;
  top: 0px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #eee;
  color: #eee;
  border-radius: 50%;
  z-index: 1;
  animation: pulse-animation 2s infinite;
}

/* Line */
.timeline li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 2px;
  height: 200%;
  background-color: #333;
  animation: pulse-animation 2s infinite;
}

/* Animated ball */
//.timeline li:after {
.timeline-ball {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 1px;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  z-index: 2;
  //animation: glowing-ball-animation 1s infinite ease-in-out;

}

.timeline-animation {
  animation: glowing-ball-animation 1s infinite ease-in-out;
}

/* Title */
.timeline li .timeline-title {
  font-size: 1.3rem;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-left: 50px;

  img {
    max-height: 1.5rem;
  }
}

/* Description */
.timeline li .timeline-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 50px;
}

/* Glowing ball animation */
@keyframes glowing-ball-animation {
  0% {
    transform: translateY(0px);
    opacity: 0;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.4);
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
  }
}